In [45]:
import pandas as pd
deda = pd.read_csv('../proyect/kaggle_dataset/world-happiness-report.csv')

In [51]:
deda = deda.rename(columns={'Country name': 'country_name',\
                  'Log GDP per capita': 'gdp_per_capita',\
                  'Life Ladder':'life_Ladder',\
                   'Healthy life expectancy at birth':'healthy_life_expectancy_at_birth',\
                   'Social support':'social_supp', \
                   'Positive affect':'postve_affect', 'Negative affect':'negtve_affect',\
                   'Freedom to make life choices':'freedom_to_make_life_choices',\
                   'Perceptions of corruption': 'percept_of_corruption'
                  })
lista_paises = deda['country_name']

In [52]:
deda

,country_name,year,life_Ladder,gdp_per_capita,social_supp,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,Generosity,percept_of_corruption,postve_affect,negtve_affect,country
0,1,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,1
1,1,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,1
2,1,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,1
3,1,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,1
4,1,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1944,166,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,166
1945,166,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,166
1946,166,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,166
1947,166,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,166
1948,166,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,166

In [48]:
l1 = []
j = 0
l_countries = deda['country_name']
for i in deda['country_name'].unique():
    j = j+1
    l1.append(j)

df_countries = pd.DataFrame({'id_countries': l1,'countries': deda['country_name'].unique()})
deda['country'] = l_countries
df_countries

     id_countries    countries
0               1  Afghanistan
1               2      Albania
2               3      Algeria
3               4       Angola
4               5    Argentina
..            ...          ...
161           162    Venezuela
162           163      Vietnam
163           164        Yemen
164           165       Zambia
165           166     Zimbabwe

[166 rows x 2 columns]

In [49]:
for i in range(df_countries['countries'].size):
    deda.country_name.replace({df_countries['countries'][i]: df_countries['id_countries'][i]}, inplace=True)      
deda

,country_name,year,life_Ladder,gdp_per_capita,social_supp,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,Generosity,percept_of_corruption,postve_affect,negtve_affect
0,1,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,1,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,1,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,1,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,1,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,166,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,166,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,166,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,166,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,166,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [50]:
deda.rename({'country_name': 'id_country'}, inplace=True)
deda

,country_name,year,life_Ladder,gdp_per_capita,social_supp,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,Generosity,percept_of_corruption,postve_affect,negtve_affect,country
0,1,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,1
1,1,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,1
2,1,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,1
3,1,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,1
4,1,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1944,166,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,166
1945,166,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,166
1946,166,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,166
1947,166,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,166
1948,166,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,166